@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@theme {
  /*Font*/
  --font-primary: "Josefin Sans", sans-serif;

  /* Primary */
  --color-blue-500: hsl(220, 98%, 61%);
  --color-linear-l : hsl(192, 100%, 67%);
  --color-linear-r : hsl(280, 87%, 65%);
  /* Light Theme */
  --color-gray-50: hsl(0, 0%, 98%);
  --color-purple-300-light: hsl(234, 39%, 85%);
  --color-gray-300-light: hsl(233, 11%, 84%);
  --color-gray-600-light: hsl(236, 9%, 61%);
  --color-navy-850: hsl(235, 19%, 35%);

  /* Dark Theme */
  --color-navy-950: hsl(235, 21%, 11%);
  --color-navy-900: hsl(235, 24%, 19%);
  --color-purple-300-dark: hsl(234, 39%, 85%);
  --color-purple-100-hover: hsl(236, 33%, 92%);
  --color-purple-600: hsl(235, 16%, 43%);
  --color-purple-700: hsl(233, 14%, 35%);
  --color-purple-800: hsl(237, 14%, 26%);
  --color-gray-600-dark: hsl(236, 9%, 61%);
}